@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
h6,
figure {
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: block;
}

h2,
h3,
p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h6 {
  display: block;
  width: 100%;
  height: 300px;
  padding: 10px;
  font-family: Kanit, Arial, Helvetica, sans-serif;
  font-size: xx-large;
  background-image: url("../images/design1.jpg");
  background-size: cover;
}

.link-nav {
  display: block;
  padding: 50px;
}

nav {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /*  display: inline-block;
    width: 25%;
    height: 400px;*/
}

h2 {
  display: block;
  position: absolute;
  width: 100%;
  top: 299px;
  text-align: center;
  background-color: black;
  color: white;
}

.img-logo {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 280px;
  right: 10%;
  z-index: 1;
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-style: double;
}

aside.img-logo img {
  width: 100x;
  height: 100px;
  padding-left: 2px;
}

